<header class="container">
    <h1>Where in the world?</h1>
    <button class="light">
        Dark Mode
    </button>
</header>

<style lang="scss">
    @import "../styles/global.scss";

    header {
        background-color: var(--clr-elements);

        display: flex;
        justify-content: space-between;
        padding-block: 2rem;

        box-shadow: 0 -1.5rem 2rem 0 black;
    }

    h1 {
        font-size: 14px;
        font-weight: 800;

        @media (min-width: $break-point) {
            font-size: 20px;
        }
    }

    button {
        border: none;
        background: none;
        color: var(--clr-text);
        
        font-size: 12px;
        font-weight: 300;

        cursor: pointer;

        @media (min-width: $break-point) {
            font-size: 14px;
        }

        &:hover,
        &:focus-visible {
            font-weight: 600;
        }

        &:focus-visible {
            outline-color: var(--clr-text);
            outline-offset: 0.5rem;
        }

        &::before {
            content: "";
            display: inline-block;
            vertical-align: bottom;
            
            width: 16px;
            aspect-ratio: 1;
            background-color: var(--clr-text);

            margin-inline-end: 2px;
        }

        &.dark::before {
            -webkit-mask: url("/images/moon-solid.svg") no-repeat center;
            mask: url("/images/moon-solid.svg") no-repeat center;
        }

        &.light::before {
            -webkit-mask: url("/images/moon-regular.svg") no-repeat center;
            mask: url("/images/moon-regular.svg") no-repeat center;
        }

        img {
            display: inline-block;

            width: 16px;
            aspect-ratio: 1;

            vertical-align: bottom;

            color: red;
        }
    }
</style>

<script>
    const body = document.querySelector('body');
    const button = document.querySelector('button');

    button.addEventListener('click', () => {
        if (button.classList.contains('light')) {
            button.classList.remove('light');
            button.classList.add('dark');
            body.classList.remove('light');
            body.classList.add('dark');
        } else {
            button.classList.remove('dark');
            button.classList.add('light');
            body.classList.remove('dark');
            body.classList.add('light');
        }
    });
</script>